
{{#if user.isAdmin}}
<div>
  <h1>Hola {{user.firstName}}!</h1>

    <h3>Tu perfíl tiene permisos de Administrador</h3>
    
    <a href="http://localhost:8080/users/"><h4>Listado de usuarios</h4></a>

</div>
{{/if}}